openapi: 3.0.0
servers:
  - url: 'https://api.hiddb.io'
    description: Access to your HIDDB databases
info:
  description: |
    This is the official API documentation for the HIDDB vector search database.

    In order to get started you will need to generate a API access key and secret token.
    Sign in into the your [dashboard](https://dashboard.hiddb.com/) and navigate to `API Access` / `Create API Key`.
    Make sure to copy the token because it won't be shown to you again.

    Now you can sign in your machine by requesting a temporary JSON Web Token (JWT) by performing a GET request to `hiddb.io/machine/login`.

    ```bash
    KEY="<key>"
    SECRET="<secret>"
    TOKEN=`\
    curl --location \
         --request POST "https://api.hiddb.io/machine/login" \
         --header "Content-Type: application/json" \
         --header "Accept: application/json" \
         --data-raw "{
             \"access_key\": \"$KEY\",
             \"secret_key\": \"$SECRET\"
         }" | python3 -c "import sys, json; print(json.load(sys.stdin)['access_token'])"`
    ```

    Once you have your API Token created, all API requests are authorized in the same way. 
    HIDDB uses the RFC standard `Authorization: Bearer <Token>` interface.
    When used in an example API request it looks like this:

    ```bash
    DATABASE_ID="<database_id>"
    curl --location \
         --request GET "https://${DATABASE_ID}.hiddb.io/collection" \
         --header "Accept: application/json" \
         --header "Authorization: Bearer $TOKEN"
    ```

    Congratulations your have now full and secure control over your personal HIDDB database.
  version: 0.2.3
  title: API documentation
  termsOfService: 'https:/hiddb.com/terms'
  license:
    name: Propretary Licence
    url: 'https://hiddb.com/licence'
tags:
  - name: Check health
    description: Check if you are all good
  - name: User Authentification
    description: User authentification
  - name: Machine Authentification
    description: Machine authentification
  - name: Database
    description: Operations on databases
  - name: Instance
    description: Operations on instances
  - name: Collection
    description: Operations on collections
  - name: Index
    description: Operations on indices
  - name: Document
    description: Operations on documents
  - name: Internal
    description: Internal operations
paths:
  /user/register:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: Register user
      description: Register user. Email containing URL with OTP is send out to user.
      operationId: registerUser
      responses:
        '200':
          description: successful operation
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '409':
          description: conflict
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
  /user/reset:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: User password reset
      description: Send URL containing OTP to email adress provided by user to reset password.
      operationId: resetPassword
      responses:
        '200':
          description: successful operation
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
  /user/update/verify:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: Verify user's email
      description: Verify email adress provided by the user.
      operationId: updateVerifyEmail
      responses:
        '200':
          description: successful operation
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - otp
              additionalProperties: false
              properties:
                user_id:
                  type: string
                  minLength: 18
                  maxLength: 18
                  pattern: '^[a-z0-9]{18,18}$'
                otp:
                  type: string
  /user/update/reset:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: Update password
      description: Reset password as requested by the user.
      operationId: updateResetPassword
      responses:
        '200':
          description: successful operation
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - otp
                - password
              additionalProperties: false
              properties:
                user_id:
                  type: string
                otp:
                  type: string
                password:
                  type: string
                  format: password
  /user/login:
    x-internal: true
    post:
      tags:
        - User Authentification
      description: User login using access and secret token.
      summary: User login
      operationId: loginUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - access_token
                  - type
                properties:
                  access_token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  type:
                    type: string
                    enum:
                      - Bearer
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '403':
          description: forbidden
      requestBody:
        description: Login email and password in exchange for JWT.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                stay_logged_in:
                  type: boolean
                  default: false
  /user/logout:
    x-internal: true
    post:
      tags:
        - User Authentification
      description: Log user out
      summary: Log out user
      operationId: logoutUser
      responses:
        '200':
          description: successful operation
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
  /user/refresh:
    x-internal: true
    post:
      tags:
        - User Authentification
      description: Refresh access token using cookie
      summary: Refresh JWT
      operationId: refreshToken
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - access_token
                  - type
                properties:
                  access_token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  type:
                    type: string
                    enum:
                      - Bearer
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
      requestBody:
        description: Exchange access and secret token for JSON web token (JWT).
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
  /machine/login:
    post:
      tags:
        - Machine Authentification
      description: Machine login using access and secret token.
      summary: Machine login
      operationId: machineLogin
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - access_token
                  - type
                properties:
                  access_token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  type:
                    type: string
                    enum:
                      - Bearer
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        description: Exchange access and secret token for JSON web token (JWT).
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - access_key
                - secret_key
              additionalProperties: false
              properties:
                access_key:
                  type: string
                  minLength: 20
                  maxLength: 20
                secret_key:
                  type: string
                  minLength: 20
                  maxLength: 20
  /machine:
    post:
      tags:
        - Machine Authentification
      description: Create a new machine account.
      summary: New machine
      operationId: createMachine
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - machine_name
                  - id
                  - key
                  - secret
                  - permission
                properties:
                  machine_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                  key:
                    type: string
                    minLength: 20
                    maxLength: 20
                  secret:
                    type: string
                    minLength: 20
                    maxLength: 20
                  permission:
                    type: string
                    enum:
                      - write
                      - read
                      - admin
        '401':
          description: unauthorized
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - machine_name
                - permission
              additionalProperties: false
              properties:
                machine_name:
                  type: string
                  minLength: 3
                  maxLength: 20
                permission:
                  type: string
                  enum:
                    - write
                    - read
                    - admin
    get:
      tags:
        - Machine Authentification
      description: Get all machines in organization
      summary: Get all machines
      operationId: getMachines
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - machines
                properties:
                  machines:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - machine_name
                        - key
                        - permission
                      properties:
                        machine_name:
                          type: string
                          minLength: 3
                          maxLength: 20
                        id:
                          type: string
                          minLength: 18
                          maxLength: 18
                        key:
                          type: string
                          minLength: 20
                          maxLength: 20
                        permission:
                          type: string
                          enum:
                            - write
                            - read
                            - admin
        '401':
          description: unauthorized
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/machine/{machine_id}':
    parameters:
      - name: machine_id
        in: path
        description: The ID of the machine
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 18
          maxLength: 18
          pattern: '^[a-z0-9]{18}$'
    delete:
      tags:
        - Machine Authentification
      description: Delete machine account
      summary: Delete machine account
      operationId: deleteMachine
      responses:
        '200':
          description: successful operation
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /health:
    x-internal: true
    servers:
      - url: 'https://api.hiddb.io'
    get:
      tags:
        - Check health
      description: Check access to databases
      summary: Check health database
      operationId: checkHealth
      responses:
        '200':
          description: successfull operation
          content:
            text/plain:
              schema:
                type: string
                default: Ok
                enum:
                  - Ok
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /database:
    get:
      tags:
        - Database
      description: Get information about databases
      summary: Get databases
      operationId: listDatabase
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - databases
                properties:
                  databases:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - database_name
                        - organization_id
                        - created_at
                        - deleted_at
                        - instances
                      properties:
                        id:
                          type: string
                          minLength: 18
                          maxLength: 18
                          pattern: '^[a-z0-9]{18,18}$'
                        database_name:
                          type: string
                          minLength: 3
                          maxLength: 20
                          pattern: '^[a-z0-9_-]{3,20}$'
                        organization_id:
                          type: string
                          minLength: 18
                          maxLength: 18
                          pattern: '^[a-z0-9]{3,20}$'
                          example: xxxxxxxxxxxxxxxxxx
                        created_at:
                          type: string
                          format: date-time
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                        instances:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            required:
                              - id
                              - created_at
                              - deleted_at
                              - status
                              - type
                              - server
                              - volume_size
                              - location
                            properties:
                              id:
                                type: string
                                minLength: 18
                                maxLength: 18
                                pattern: '^[a-z0-9]{18,18}$'
                              created_at:
                                type: string
                                format: date-time
                              deleted_at:
                                type: string
                                format: date-time
                                nullable: true
                              status:
                                type: string
                                enum:
                                  - awake
                                  - provisioning
                                  - wakingup
                                  - asleep
                              type:
                                type: string
                                description: Instance type
                                default: s
                                example: s
                                enum:
                                  - xs
                                  - s
                                  - m
                                  - l
                                  - xl
                              server:
                                type: object
                                nullable: true
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    minLength: 18
                                    maxLength: 18
                                    pattern: '^[a-z0-9]{18,18}$'
                              volume_size:
                                type: number
                                description: Size of mounted and volume in gb
                                default: 10
                                example: 100
                                minimum: 10
                                maximum: 10000
                                multipleOf: 1
                              location:
                                type: string
                                description: Physical instance location
                                enum:
                                  - hel1
                                  - nbg1
                                  - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    post:
      tags:
        - Database
      description: Create new database.
      summary: Create database
      operationId: createDatabase
      requestBody:
        description: Newly created database.
        content:
          application/json:
            schema:
              type: object
              required:
                - database_name
              additionalProperties: false
              properties:
                database_name:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-z0-9_-]{3,20}$'
                instances:
                  description: Currently only databases with up to a single instance are supported.
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      location:
                        type: string
                        enum:
                          - hel1
                          - nbg1
                          - fsn1
                      type:
                        type: string
                        enum:
                          - xs
                          - s
                          - m
                          - l
                          - xl
                      volume_size:
                        type: number
                        description: Size of mounted and volume in gb
                        default: 10
                        example: 100
                        minimum: 10
                        maximum: 10000
                        multipleOf: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - database_name
                  - organization_id
                  - created_at
                  - deleted_at
                  - instances
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  database_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                  organization_id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  instances:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - created_at
                        - deleted_at
                        - status
                        - type
                        - server
                        - volume_size
                        - location
                      properties:
                        id:
                          type: string
                          minLength: 18
                          maxLength: 18
                          pattern: '^[a-z0-9]{18,18}$'
                        created_at:
                          type: string
                          format: date-time
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                        status:
                          type: string
                          enum:
                            - awake
                            - provisioning
                            - wakingup
                            - asleep
                        type:
                          type: string
                          description: Instance type
                          default: s
                          example: s
                          enum:
                            - xs
                            - s
                            - m
                            - l
                            - xl
                        server:
                          type: object
                          nullable: true
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              minLength: 18
                              maxLength: 18
                              pattern: '^[a-z0-9]{18,18}$'
                        volume_size:
                          type: number
                          description: Size of mounted and volume in gb
                          default: 10
                          example: 100
                          minimum: 10
                          maximum: 10000
                          multipleOf: 1
                        location:
                          type: string
                          description: Physical instance location
                          enum:
                            - hel1
                            - nbg1
                            - fsn1
        '202':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - database_name
                  - organization_id
                  - created_at
                  - deleted_at
                  - instances
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  database_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                  organization_id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  instances:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - created_at
                        - deleted_at
                        - status
                        - type
                        - server
                        - volume_size
                        - location
                      properties:
                        id:
                          type: string
                          minLength: 18
                          maxLength: 18
                          pattern: '^[a-z0-9]{18,18}$'
                        created_at:
                          type: string
                          format: date-time
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                        status:
                          type: string
                          enum:
                            - awake
                            - provisioning
                            - wakingup
                            - asleep
                        type:
                          type: string
                          description: Instance type
                          default: s
                          example: s
                          enum:
                            - xs
                            - s
                            - m
                            - l
                            - xl
                        server:
                          type: object
                          nullable: true
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              minLength: 18
                              maxLength: 18
                              pattern: '^[a-z0-9]{18,18}$'
                        volume_size:
                          type: number
                          description: Size of mounted and volume in gb
                          default: 10
                          example: 100
                          minimum: 10
                          maximum: 10000
                          multipleOf: 1
                        location:
                          type: string
                          description: Physical instance location
                          enum:
                            - hel1
                            - nbg1
                            - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/database/{database_id}':
    parameters:
      - name: database_id
        in: path
        description: The ID of the database
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 18
          maxLength: 18
          pattern: '^[a-z0-9]{18}$'
    get:
      tags:
        - Database
      description: Get information about specific database
      summary: Get database
      operationId: getDatabase
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - database_name
                  - organization_id
                  - created_at
                  - deleted_at
                  - instances
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  database_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                  organization_id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  instances:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - created_at
                        - deleted_at
                        - status
                        - type
                        - server
                        - volume_size
                        - location
                      properties:
                        id:
                          type: string
                          minLength: 18
                          maxLength: 18
                          pattern: '^[a-z0-9]{18,18}$'
                        created_at:
                          type: string
                          format: date-time
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                        status:
                          type: string
                          enum:
                            - awake
                            - provisioning
                            - wakingup
                            - asleep
                        type:
                          type: string
                          description: Instance type
                          default: s
                          example: s
                          enum:
                            - xs
                            - s
                            - m
                            - l
                            - xl
                        server:
                          type: object
                          nullable: true
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              minLength: 18
                              maxLength: 18
                              pattern: '^[a-z0-9]{18,18}$'
                        volume_size:
                          type: number
                          description: Size of mounted and volume in gb
                          default: 10
                          example: 100
                          minimum: 10
                          maximum: 10000
                          multipleOf: 1
                        location:
                          type: string
                          description: Physical instance location
                          enum:
                            - hel1
                            - nbg1
                            - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    delete:
      tags:
        - Database
      description: Delete a specific database
      summary: Delete database
      operationId: deleteDatabase
      responses:
        '202':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - database_name
                  - organization_id
                  - created_at
                  - deleted_at
                  - instances
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  database_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                  organization_id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  instances:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - created_at
                        - deleted_at
                        - status
                        - type
                        - server
                        - volume_size
                        - location
                      properties:
                        id:
                          type: string
                          minLength: 18
                          maxLength: 18
                          pattern: '^[a-z0-9]{18,18}$'
                        created_at:
                          type: string
                          format: date-time
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                        status:
                          type: string
                          enum:
                            - awake
                            - provisioning
                            - wakingup
                            - asleep
                        type:
                          type: string
                          description: Instance type
                          default: s
                          example: s
                          enum:
                            - xs
                            - s
                            - m
                            - l
                            - xl
                        server:
                          type: object
                          nullable: true
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              minLength: 18
                              maxLength: 18
                              pattern: '^[a-z0-9]{18,18}$'
                        volume_size:
                          type: number
                          description: Size of mounted and volume in gb
                          default: 10
                          example: 100
                          minimum: 10
                          maximum: 10000
                          multipleOf: 1
                        location:
                          type: string
                          description: Physical instance location
                          enum:
                            - hel1
                            - nbg1
                            - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /instance:
    get:
      tags:
        - Instance
      description: Get information about instances
      summary: Get instances
      operationId: listInstances
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - instances
                additionalProperties: false
                properties:
                  instances:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - created_at
                        - deleted_at
                        - status
                        - type
                        - server
                        - volume_size
                        - location
                      properties:
                        id:
                          type: string
                          minLength: 18
                          maxLength: 18
                          pattern: '^[a-z0-9]{18,18}$'
                        created_at:
                          type: string
                          format: date-time
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                        status:
                          type: string
                          enum:
                            - awake
                            - provisioning
                            - wakingup
                            - asleep
                        type:
                          type: string
                          description: Instance type
                          default: s
                          example: s
                          enum:
                            - xs
                            - s
                            - m
                            - l
                            - xl
                        server:
                          type: object
                          nullable: true
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              minLength: 18
                              maxLength: 18
                              pattern: '^[a-z0-9]{18,18}$'
                        volume_size:
                          type: number
                          description: Size of mounted and volume in gb
                          default: 10
                          example: 100
                          minimum: 10
                          maximum: 10000
                          multipleOf: 1
                        location:
                          type: string
                          description: Physical instance location
                          enum:
                            - hel1
                            - nbg1
                            - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    post:
      tags:
        - Instance
      description: Create new instance. Currently you can only create a single instance per database. In future versions we will not restrict the number of instances per database.
      summary: Create instance
      operationId: createInstance
      requestBody:
        description: Newly created Instance.
        content:
          application/json:
            schema:
              type: object
              required:
                - database_id
              additionalProperties: false
              properties:
                database_id:
                  type: string
                  pattern: '^[a-z0-9]{18,18}$'
                  example: xxxxxxxxxxxxxxxxxx
                  minLength: 3
                type:
                  type: string
                  description: Instance type
                  default: s
                  example: s
                  enum:
                    - xs
                    - s
                    - m
                    - l
                    - xl
                volume_size:
                  type: number
                  description: Size of mounted and volume in gb
                  default: 10
                  example: 100
                  minimum: 10
                  maximum: 10000
                  multipleOf: 1
                location:
                  type: string
                  description: Physical instance location
                  enum:
                    - hel1
                    - nbg1
                    - fsn1
      responses:
        '202':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - created_at
                  - deleted_at
                  - status
                  - type
                  - server
                  - volume_size
                  - location
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  status:
                    type: string
                    enum:
                      - awake
                      - provisioning
                      - wakingup
                      - asleep
                  type:
                    type: string
                    description: Instance type
                    default: s
                    example: s
                    enum:
                      - xs
                      - s
                      - m
                      - l
                      - xl
                  server:
                    type: object
                    nullable: true
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        minLength: 18
                        maxLength: 18
                        pattern: '^[a-z0-9]{18,18}$'
                  volume_size:
                    type: number
                    description: Size of mounted and volume in gb
                    default: 10
                    example: 100
                    minimum: 10
                    maximum: 10000
                    multipleOf: 1
                  location:
                    type: string
                    description: Physical instance location
                    enum:
                      - hel1
                      - nbg1
                      - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/instance/{instance_id}':
    parameters:
      - name: instance_id
        in: path
        description: The ID of the instance
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 18
          maxLength: 18
          pattern: '^[a-z0-9]{18}$'
    get:
      tags:
        - Instance
      description: Get information about specific instance
      summary: Get instance
      operationId: getInstance
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - created_at
                  - deleted_at
                  - status
                  - type
                  - server
                  - volume_size
                  - location
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  status:
                    type: string
                    enum:
                      - awake
                      - provisioning
                      - wakingup
                      - asleep
                  type:
                    type: string
                    description: Instance type
                    default: s
                    example: s
                    enum:
                      - xs
                      - s
                      - m
                      - l
                      - xl
                  server:
                    type: object
                    nullable: true
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        minLength: 18
                        maxLength: 18
                        pattern: '^[a-z0-9]{18,18}$'
                  volume_size:
                    type: number
                    description: Size of mounted and volume in gb
                    default: 10
                    example: 100
                    minimum: 10
                    maximum: 10000
                    multipleOf: 1
                  location:
                    type: string
                    description: Physical instance location
                    enum:
                      - hel1
                      - nbg1
                      - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    put:
      tags:
        - Instance
      description: Awake or put instance to sleep
      summary: 'Instance awake, sleep'
      operationId: updateInstanceStatus
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              additionalProperties: false
              properties:
                status:
                  type: string
                  enum:
                    - awake
                    - asleep
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - created_at
                  - deleted_at
                  - status
                  - type
                  - server
                  - volume_size
                  - location
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  status:
                    type: string
                    enum:
                      - awake
                      - provisioning
                      - wakingup
                      - asleep
                  type:
                    type: string
                    description: Instance type
                    default: s
                    example: s
                    enum:
                      - xs
                      - s
                      - m
                      - l
                      - xl
                  server:
                    type: object
                    nullable: true
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        minLength: 18
                        maxLength: 18
                        pattern: '^[a-z0-9]{18,18}$'
                  volume_size:
                    type: number
                    description: Size of mounted and volume in gb
                    default: 10
                    example: 100
                    minimum: 10
                    maximum: 10000
                    multipleOf: 1
                  location:
                    type: string
                    description: Physical instance location
                    enum:
                      - hel1
                      - nbg1
                      - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    delete:
      tags:
        - Instance
      description: Delete a specific Instance
      summary: Delete instance
      operationId: deleteInstance
      responses:
        '202':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                  - created_at
                  - deleted_at
                  - status
                  - type
                  - server
                  - volume_size
                  - location
                properties:
                  id:
                    type: string
                    minLength: 18
                    maxLength: 18
                    pattern: '^[a-z0-9]{18,18}$'
                  created_at:
                    type: string
                    format: date-time
                  deleted_at:
                    type: string
                    format: date-time
                    nullable: true
                  status:
                    type: string
                    enum:
                      - awake
                      - provisioning
                      - wakingup
                      - asleep
                  type:
                    type: string
                    description: Instance type
                    default: s
                    example: s
                    enum:
                      - xs
                      - s
                      - m
                      - l
                      - xl
                  server:
                    type: object
                    nullable: true
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        minLength: 18
                        maxLength: 18
                        pattern: '^[a-z0-9]{18,18}$'
                  volume_size:
                    type: number
                    description: Size of mounted and volume in gb
                    default: 10
                    example: 100
                    minimum: 10
                    maximum: 10000
                    multipleOf: 1
                  location:
                    type: string
                    description: Physical instance location
                    enum:
                      - hel1
                      - nbg1
                      - fsn1
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '403':
          description: forbidden
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /collection:
    servers:
      - url: 'https://{database_id}.hiddb.io'
        description: General operations
    get:
      tags:
        - Collection
      description: Get information about collections
      summary: Get collections
      operationId: listCollections
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - collections
                properties:
                  collections:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - collection_name
                      properties:
                        collection_name:
                          type: string
                          minLength: 3
                          maxLength: 20
                          pattern: '^[a-z0-9_-]{3,20}$'
                          example: xxxxxxxxxxxxxxxxxx
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    post:
      tags:
        - Collection
      description: Create new collection
      summary: Create collection
      operationId: createCollection
      requestBody:
        content:
          application/json:
            schema:
              description: Collection details
              type: object
              required:
                - collection_name
              additionalProperties: false
              properties:
                collection_name:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-z0-9_-]{3,20}$'
                  example: xxxxxxxxxxxxxxxxxx
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - collection_name
                properties:
                  collection_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/collection/{collection_name}':
    servers:
      - url: 'https://{database_id}.hiddb.io'
        description: General operations
    get:
      tags:
        - Collection
      description: Get information about a specific collection
      summary: Get collection
      operationId: getCollection
      parameters:
        - name: collection_name
          in: path
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 20
            pattern: '^[a-z0-9_-]{3,20}$'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - collection_name
                properties:
                  collection_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    delete:
      tags:
        - Collection
      description: Delete a specific collection
      summary: Delete collection
      operationId: deleteCollection
      parameters:
        - name: collection_name
          in: path
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 20
            pattern: '^[a-z0-9_-]{3,20}$'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - collection_name
                properties:
                  collection_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/collection/{collection_name}/index':
    servers:
      - url: 'https://{database_id}.hiddb.io'
        description: General operations
    parameters:
      - name: collection_name
        in: path
        description: The ID of the collection
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-z0-9_-]{3,20}$'
    get:
      tags:
        - Index
      description: Get information about an existing indices
      summary: Get indices
      operationId: listIndices
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - indices
                properties:
                  indices:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                        - collection_name
                        - field_name
                        - n_documents
                        - distance_metric
                        - dimension
                      properties:
                        collection_name:
                          type: string
                          minLength: 3
                          maxLength: 20
                          pattern: '^[a-z0-9_-]{3,20}$'
                          example: xxxxxxxxxxxxxxxxxx
                        field_name:
                          type: string
                          minLength: 3
                          maxLength: 20
                          pattern: '^[a-z0-9_-]{3,20}$'
                          example: xxxxxxxxxxxxxxxxxx
                        n_documents:
                          type: integer
                          format: int64
                        distance_metric:
                          type: string
                          enum:
                            - euclidean
                        dimension:
                          type: integer
                          format: int64
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    post:
      tags:
        - Index
      description: Create new index in the specified collection
      summary: Create index
      operationId: createIndex
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - field_name
                - dimension
              additionalProperties: false
              properties:
                field_name:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-z0-9_-]{3,20}$'
                  example: xxxxxxxxxxxxxxxxxx
                dimension:
                  type: integer
                  format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - collection_name
                  - field_name
                  - n_documents
                  - distance_metric
                  - dimension
                properties:
                  collection_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  field_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  n_documents:
                    type: integer
                    format: int64
                  distance_metric:
                    type: string
                    enum:
                      - euclidean
                  dimension:
                    type: integer
                    format: int64
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/collection/{collection_name}/index/{field_name}':
    servers:
      - url: 'https://{database_id}.hiddb.io'
        description: General operations
    parameters:
      - name: collection_name
        in: path
        description: The ID of the collection
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-z0-9_-]{3,20}$'
      - name: field_name
        in: path
        description: The ID of the index
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-z0-9_-]{3,20}$'
    get:
      tags:
        - Index
      description: Get information about specific index
      summary: Get index
      operationId: getIndex
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - collection_name
                  - field_name
                  - n_documents
                  - distance_metric
                  - dimension
                properties:
                  collection_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  field_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  n_documents:
                    type: integer
                    format: int64
                  distance_metric:
                    type: string
                    enum:
                      - euclidean
                  dimension:
                    type: integer
                    format: int64
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    delete:
      tags:
        - Index
      description: Delete index
      summary: Delete index
      operationId: deleteIndex
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - collection_name
                  - field_name
                  - n_documents
                  - distance_metric
                  - dimension
                properties:
                  collection_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  field_name:
                    type: string
                    minLength: 3
                    maxLength: 20
                    pattern: '^[a-z0-9_-]{3,20}$'
                    example: xxxxxxxxxxxxxxxxxx
                  n_documents:
                    type: integer
                    format: int64
                  distance_metric:
                    type: string
                    enum:
                      - euclidean
                  dimension:
                    type: integer
                    format: int64
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/collection/{collection_name}/document':
    servers:
      - url: 'https://{database_id}.hiddb.io'
        description: General operations
    parameters:
      - name: collection_name
        in: path
        description: The ID of the collection
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-z0-9_-]{3,20}$'
    post:
      tags:
        - Document
      description: Insert document. The field "field_name" will be indexed by all existing indices
      summary: Insert document
      operationId: insertDocuments
      requestBody:
        content:
          application/json:
            schema:
              required:
                - documents
              additionalProperties: false
              properties:
                documents:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                    additionalProperties: true
                    properties:
                      id:
                        type: string
                        minLength: 3
                        maxLength: 50
                      field:
                        type: array
                        items:
                          type: number
                          format: double
                        example:
                          - 1
                          - 2
                          - 3
      responses:
        '200':
          description: Insertion successful
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/collection/{collection_name}/document/search':
    servers:
      - url: 'https://{database_id}.hiddb.io'
        description: General operations
    parameters:
      - name: collection_name
        in: path
        description: The ID of the collection
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-z0-9_-]{3,20}$'
    post:
      tags:
        - Document
      description: 'Search for nearest vectors to specified vector. Instead of specifying `vector: <array>` you can search for similar documents directly by setting `id: <document_id>` instead'
      summary: ANN-search
      operationId: getAnn
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - max_neighbors
                - field_name
              additionalProperties: false
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  example:
                    - document1
                    - document2
                    - document3
                  description: Get documents close to the specified document. Provide either `ids` or `vectors`
                vectors:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                  example:
                    - - 1
                      - 2
                      - 3
                  description: Get documents close to the vector. The length of the vector must be equal to the dimension specified in the index
                max_neighbors:
                  type: number
                  default: 20
                  minimum: 1
                  description: Maximal number of neighbors to include in response
                field_name:
                  type: string
                  minLength: 3
                  maxLength: 20
                  pattern: '^[a-z0-9_-]{3,20}$'
                  description: This parameter specifies the index to perform the query in
                  example: xxxxxxxxxxxxxxxxxx
      responses:
        '200':
          description: Insertion successful
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  required:
                    - data
                  properties:
                    data:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/collection/{collection_name}/document/{document_id}':
    servers:
      - url: 'https://{database_id}.hiddb.io'
        description: General operations
    parameters:
      - name: collection_name
        in: path
        description: The ID of the collection
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-z0-9_-]{3,20}$'
      - name: document_id
        in: path
        description: The ID of the index
        example: xxxxxxxxxxxxxxxxxx
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 20
          pattern: '^[a-z0-9_-]{3,20}$'
    get:
      tags:
        - Document
      description: Get document by ID
      summary: Get document by ID
      operationId: getDocument
      responses:
        '200':
          description: Insertion successful
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                properties:
                  id:
                    type: string
                    minLength: 3
                    maxLength: 50
                  field:
                    type: array
                    items:
                      type: number
                      format: double
                    example:
                      - 1
                      - 2
                      - 3
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    delete:
      tags:
        - Document
      description: COMING SOON! Remove document by ID. The corresponding indices will be updated
      summary: Remove document by ID
      operationId: deleteDocument
      responses:
        '200':
          description: Insertion successful
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                properties:
                  id:
                    type: string
                    minLength: 3
                    maxLength: 50
                  field:
                    type: array
                    items:
                      type: number
                      format: double
                    example:
                      - 1
                      - 2
                      - 3
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  '/organization/{organization_id}/usage':
    x-internal: true
    servers:
      - url: INSTANCE_MANATEMENT_URL
        description: instance management microservice
    get:
      tags:
        - Internal
      description: Get usage of organization
      summary: Get usage
      operationId: getUsage
      parameters:
        - name: organization_id
          in: path
          description: The ID of the organization
          example: xxxxxxxxxxxxxxxxxx
          required: true
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: '^[a-z0-9]{18,18}$'
        - name: from
          in: query
          description: from
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: to
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                description: JSON containing the usage per organization
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /customer/address:
    x-internal: true
    get:
      tags:
        - Internal
      description: Get customer billing information
      summary: Get customer information
      operationId: getCustomerBillingInfo
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - name
                  - city
                  - country
                  - line1
                  - line2
                  - postal_code
                  - state
                properties:
                  name:
                    type: string
                    description: First and last name or company name
                    maxLength: 50
                  city:
                    type: string
                    description: Two-letter country code (ISO 3166-1 alpha-2)
                    maxLength: 50
                  country:
                    type: string
                    maxLength: 50
                  line1:
                    type: string
                    maxLength: 50
                  line2:
                    type: string
                    maxLength: 50
                  postal_code:
                    type: string
                    maxLength: 25
                  state:
                    type: string
                    maxLength: 50
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    put:
      tags:
        - Internal
      description: Update customer billing information
      summary: Update customer information
      operationId: updateCustomerBillingInfo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
                - city
                - country
                - line1
                - line2
                - postal_code
                - state
              properties:
                name:
                  type: string
                  description: First and last name or company name
                  maxLength: 50
                city:
                  type: string
                  description: Two-letter country code (ISO 3166-1 alpha-2)
                  maxLength: 50
                country:
                  type: string
                  maxLength: 50
                line1:
                  type: string
                  maxLength: 50
                line2:
                  type: string
                  maxLength: 50
                postal_code:
                  type: string
                  maxLength: 25
                state:
                  type: string
                  maxLength: 50
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - name
                  - city
                  - country
                  - line1
                  - line2
                  - postal_code
                  - state
                properties:
                  name:
                    type: string
                    description: First and last name or company name
                    maxLength: 50
                  city:
                    type: string
                    description: Two-letter country code (ISO 3166-1 alpha-2)
                    maxLength: 50
                  country:
                    type: string
                    maxLength: 50
                  line1:
                    type: string
                    maxLength: 50
                  line2:
                    type: string
                    maxLength: 50
                  postal_code:
                    type: string
                    maxLength: 25
                  state:
                    type: string
                    maxLength: 50
        '401':
          description: unauthorized
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /customer/checkout:
    x-internal: true
    post:
      tags:
        - Internal
      description: Create new checkout session for registered customer
      summary: Stripe Checkout
      operationId: customerCheckout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - checkoutUrl
                properties:
                  checkoutUrl:
                    type: string
        '400':
          description: bad request
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
        '401':
          description: unauthorized
        '404':
          description: not found
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /customer/portal:
    x-internal: true
    post:
      tags:
        - Internal
      description: Create new customer portal session for registered customer
      summary: Stripe Customer Portal
      operationId: customerPortal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        '200':
[...]
