openapi: 3.0.0
info:
  title: API documentation
  version: 0.2.3
paths:
  /user/register:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: Register user
      description: Register user. Email containing URL with OTP is send out to user.
      responses:
        "200":
          description: successful operation
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
  /user/reset:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: User password reset
      description: Send URL containing OTP to email adress provided by user to reset password.
      responses:
        "200":
          description: successful operation
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
  /user/update/verify:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: Verify user's email
      description: Verify email adress provided by the user.
      responses:
        "200":
          description: successful operation
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - otp
              additionalProperties: false
              properties:
                user_id:
                  type: string
                  minLength: 18
                  maxLength: 18
                  pattern: ^[a-z0-9]{18,18}$
                otp:
                  type: string
  /user/update/reset:
    x-internal: true
    post:
      tags:
        - User Authentification
      summary: Update password
      description: Reset password as requested by the user.
      responses:
        "200":
          description: successful operation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - otp
                - password
              additionalProperties: false
              properties:
                user_id:
                  type: string
                otp:
                  type: string
                password:
                  type: string
                  format: password
  /user/login:
    x-internal: true
    post:
      tags:
        - User Authentification
      description: User login using access and secret token.
      summary: User login
      operationId: userLogin
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - access_token
                  - type
                properties:
                  access_token:
                    type: string
                  type:
                    type: string
                    enum:
                      - Bearer
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        description: Login email and password in exchange for JWT.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                stay_logged_in:
                  type: boolean
                  default: false
  /user/logout:
    x-internal: true
    post:
      tags:
        - User Authentification
      description: Log user out
      summary: Log out user
      responses:
        "200":
          description: successful operation
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /user/refresh:
    x-internal: true
    post:
      tags:
        - User Authentification
      description: Refresh access token using cookie
      summary: Refresh JWT
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - access_token
                  - type
                properties:
                  access_token:
                    type: string
                  type:
                    type: string
                    enum:
                      - Bearer
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
      requestBody:
        description: Exchange access and secret token for JSON web token (JWT).
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
  /health:
    x-internal: true
    servers:
      - url: https://api.hiddb.io
    get:
      tags:
        - Check health
      description: Check access to databases
      summary: Check health database
      responses:
        "200":
          description: successfull operation
          content:
            text/plain:
              schema:
                type: string
                default: Ok
                enum:
                  - Ok
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  "/organization/{organization_id}/usage":
    x-internal: true
    servers:
      - url: INSTANCE_MANATEMENT_URL
        description: instance management microservice
    get:
      tags:
        - Internal
      description: Get usage of organization
      summary: Get usage
      parameters:
        - name: organization_id
          in: path
          description: The ID of the organization
          example: xxxxxxxxxxxxxxxxxx
          required: true
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^[a-z0-9]{18,18}$
        - name: from
          in: query
          description: from
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: to
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                description: JSON containing the usage per organization
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /customer/address:
    x-internal: true
    get:
      tags:
        - Internal
      description: Get customer billing information
      summary: Get customer information
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - name
                  - city
                  - country
                  - line1
                  - line2
                  - postal_code
                  - state
                properties:
                  name:
                    type: string
                    description: First and last name or company name
                    maxLength: 50
                  city:
                    type: string
                    description: Two-letter country code (ISO 3166-1 alpha-2)
                    maxLength: 50
                  country:
                    type: string
                    maxLength: 50
                  line1:
                    type: string
                    maxLength: 50
                  line2:
                    type: string
                    maxLength: 50
                  postal_code:
                    type: string
                    maxLength: 25
                  state:
                    type: string
                    maxLength: 50
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
    put:
      tags:
        - Internal
      description: Update customer billing information
      summary: Update customer information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
                - city
                - country
                - line1
                - line2
                - postal_code
                - state
              properties:
                name:
                  type: string
                  description: First and last name or company name
                  maxLength: 50
                city:
                  type: string
                  description: Two-letter country code (ISO 3166-1 alpha-2)
                  maxLength: 50
                country:
                  type: string
                  maxLength: 50
                line1:
                  type: string
                  maxLength: 50
                line2:
                  type: string
                  maxLength: 50
                postal_code:
                  type: string
                  maxLength: 25
                state:
                  type: string
                  maxLength: 50
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - name
                  - city
                  - country
                  - line1
                  - line2
                  - postal_code
                  - state
                properties:
                  name:
                    type: string
                    description: First and last name or company name
                    maxLength: 50
                  city:
                    type: string
                    description: Two-letter country code (ISO 3166-1 alpha-2)
                    maxLength: 50
                  country:
                    type: string
                    maxLength: 50
                  line1:
                    type: string
                    maxLength: 50
                  line2:
                    type: string
                    maxLength: 50
                  postal_code:
                    type: string
                    maxLength: 25
                  state:
                    type: string
                    maxLength: 50
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /customer/checkout:
    x-internal: true
    post:
      tags:
        - Internal
      description: Create new checkout session for registered customer
      summary: Stripe Checkout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - checkoutUrl
                properties:
                  checkoutUrl:
                    type: string
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
  /customer/portal:
    x-internal: true
    post:
      tags:
        - Internal
      description: Create new customer portal session for registered customer
      summary: Stripe Customer Portal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - checkoutUrl
                properties:
                  checkoutUrl:
                    type: string
        default:
          description: error
          content:
            application/json:
              schema:
                type: object
                nullable: true
                additionalProperties: true
                required:
                  - error
                properties:
                  error:
                    type: string
